<div class="text-center">
    <h1 class="display-3">PlantZoner</h1>
    <p>A regional agricultural management system.</p>
    <% if logged_in? %>
        <%= link_to "View Your Gardens", user_gardens_path(current_user.slug) %>
        <%= link_to "New Garden", new_user_garden_path(current_user.slug) %>
        <%= link_to "New Plant", new_plant_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %>
        or
        <%= link_to "Log In", login_path %>
    <% end %>
</div>