<div class="float-left"><%= link_to "Edit Plant", edit_plant_path(@plant) %>&nbsp;&nbsp;&nbsp;</div>
<div class="float-left"><%= link_to "Delete Plant", delete_plant_path(@plant) %></div><br>

<h1><strong><%= @plant.name %></strong></h1>
<hr>
<h3>Scientific name: <%= @plant.scientific_name %></h3>


<h3>Growing zones:</h3>
<ul>
    <% @growing_zones.each do |g| %>
        <li><%= link_to g.name, growing_zone_path(g) %></li>
    <% end %>
</ul><br>

<h3 class="float-left">Image:&nbsp;</h3>
<img src="<%= @plant.image_link %>" class="float-left w-50 img-thumbnail" alt="Responsive image">