<h1><%= @garden.name %></h1>
<p>Owner: <%= @garden.owner.username %></p>
<h3>Plant: <%= link_to @garden.plant.name, plant_path(@garden.plant) %></h3>
<h4>Zone: <%= link_to @garden.growing_zone.name, growing_zone_path(@garden.growing_zone) %></h4>
<%= link_to "Edit Garden", edit_user_garden_path(@garden.owner, @garden) %>